---
import cx from "classix";
import RyengAvatar from "@/assets/images/ryeng-avatar.png";
import Icon from "@/components/core/icon/index.astro";
import Layout from "@/layouts/Layout.astro";
import { SERVICES_OFFER, SERVICES_OFFER_HIGHLIGHT, SKILLS_CLOUD } from "@/settings/constants.ts";
---

<Layout title="ryenguyen7411 - Software Engineer">
  <div class={cx("container grid place-items-center", "md:grid-cols-2 md:gap-32")}>
    <div class="grid gap-5">
      <p class="text-xl font-semibold sm:text-2xl">Hi 👋, it's me</p>

      <h1 class="place-self-start bg-primary font-semibold text-gray-400">Rye Nguyen</h1>
      <p class="text-xl sm:text-2xl">
        I'm a&nbsp;<span class="typewriter font-semibold"></span>
      </p>
      <p class="text sm:text-lg">
        with 7+ years of experience in Software Development, specifically focused on React.js,
        Node.js, and React Native. I'm passionate about building products that make a positive
        impact on people's lives. I'm currently working at
        <a href="https://be.com.vn" class="font-semibold text-primary">Be Group</a> as a software engineer.
      </p>

      <div class="flex gap-4">
        <div class="btn btn-circle btn-outline btn-primary">
          <Icon name="facebook" />
        </div>
        <div class="btn btn-circle btn-outline btn-primary">
          <Icon name="linkedin" />
        </div>
        <div class="btn btn-circle btn-outline btn-primary">
          <Icon name="github" />
        </div>
        <div class="btn btn-circle btn-outline btn-primary">
          <Icon name="email" />
        </div>
      </div>

      <div class="btn btn-primary place-self-start">Request CV copy</div>
    </div>
    <div class={cx("flex items-center", "-sm:min-h-[400px] -sm:mt-8 -sm:-order-1")}>
      <div class="hexagon">
        <img src={RyengAvatar.src} alt="Rye Nguyen" class="rounded-lg" />
      </div>
    </div>
  </div>

  <div class={cx("container mt-16 grid gap-16", "sm:mt-32 sm:gap-32 sm:grid-cols-2")}>
    <div class="flex flex-col gap-8">
      <div class="flex-1"></div>

      <h2 class="text-2xl sm:text-3xl">Services |<br />Offer</h2>
      <p class="md:mr-32">
        Lorem esse est elit ea sint Dolor odit aperiam qui natus maiores error reiciendis. Dolore
        obcaecati hic molestias voluptatem nihil. Reprehenderit nisi porro nostrum necessitatibus
        optio magnam. Quos error doloremque
      </p>

      <div class="flex-1"></div>

      <ul class="grid gap-4 text-center sm:grid-flow-col">
        {
          SERVICES_OFFER_HIGHLIGHT.map((service, idx) => (
            <>
              <li>
                <h3 class="text-2xl text-primary">{service.title}</h3>
                <p>{service.description}</p>
              </li>
              {idx < SERVICES_OFFER_HIGHLIGHT.length - 1 && (
                <li class="divider divider-neutral sm:divider-horizontal" />
              )}
            </>
          ))
        }
      </ul>
    </div>
    <ul class="grid gap-8">
      {
        SERVICES_OFFER.map((service) => (
          <li class="grid grid-cols-[1fr,48px] items-center gap-3">
            <h3 class="text-2xl text-xl">{service.title}</h3>
            <div class="btn btn-circle btn-primary row-span-2">
              <Icon name={service.icon} />
            </div>
            <p>{service.description}</p>
          </li>
        ))
      }
    </ul>

    <div class="grid place-items-center gap-8 sm:col-span-2">
      <h2 class="text-3xl">Skills cloud</h2>

      <div class="scroller" data-speed="fast">
        <ul class="scroller__inner">
          {
            SKILLS_CLOUD.core.map((skill) => (
              <li class="flex items-center gap-1">
                <span>{skill.title}</span>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="scroller" data-direction="right">
        <ul class="scroller__inner">
          {
            SKILLS_CLOUD.other.map((skill) => (
              <li class="flex items-center gap-1">
                <span>{skill.title}</span>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>

  <div class="h-[400px]"></div>
</Layout>

<style>
  @import "@/assets/styles/partials/hexagon-avatar.css";
  @import "@/assets/styles/partials/typewriter-anim.css";
  @import "@/assets/styles/partials/scroller.css";
</style>

<script>
  import { addScrollerAnimation } from "@/utils/scroller.ts";

  addScrollerAnimation();
</script>
